Automations/office_assistant/Office_assistant.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fc37b27a-df42-437f-a6a2-9ad41c1c315b",
      "name": "When chat message received",
      "webhookId": "777d1612-1588-42e3-8411-893e34787804"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "## Role:\nYou are a formal assistant of a dental office. You must asnwer the pacients questions following your rag tool. If the pacients wants, you must schedule an appointment, making sure that the time that the pacient asked is available in the calender, through the calender availability tool, and if so, you can make the appointment through the calender appointment tool. To create the appointment, you must get the pacients name, their email and claim. After the appointment creation, you have to send a confirmation email to the pacient email through the send email tool.\n\n#Tools:\n- rag: search for the answer to the pacients questions  \n- Calender availability: check if the time is available, if theres any event, the time is not available. It must be between monday to friday, and 8am to 5pm\n- Calender appointment: create the appointment in the calender, making sure that is between monday to friday, and 8am to 5pm\n- Send email: send a confirmation email to the pacient with the time and day of the appointment \n\n## Notes: \n- You always talk in portuguese-br\n- Your answers are always precise, short and formal\n- The appointments must be between 8am and 5pm "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "df40dcf3-9ba9-4031-809b-9ba0397f60cc",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        176
      ],
      "id": "1cb4c3c1-2ac0-44fb-8aee-153618767aef",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zaKuMVyDHpNHl3bi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        80,
        256
      ],
      "id": "aafd7047-6c55-4669-bcde-00edc57f2d4c",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "0gEw5bAOgRKOyh4g",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get availability in a calendar in Google Calendar",
        "resource": "calendar",
        "calendar": {
          "__rl": true,
          "value": "aqueleeuapolo2@gmail.com",
          "mode": "list",
          "cachedResultName": "aqueleeuapolo2@gmail.com"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}",
        "options": {
          "timezone": {
            "__rl": true,
            "value": "Brazil/East",
            "mode": "list",
            "cachedResultName": "Brazil/East"
          }
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        240
      ],
      "id": "5f34cef0-3cb2-47d3-9f7f-3221823b53ed",
      "name": "calender availability",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "05pzu6jiTHTbUpSu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create an event in Google Calendar",
        "calendar": {
          "__rl": true,
          "value": "aqueleeuapolo2@gmail.com",
          "mode": "list",
          "cachedResultName": "aqueleeuapolo2@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "b28e33ed-509e-48ff-ab7d-f27902722b1d",
      "name": "calender appointment",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "05pzu6jiTHTbUpSu",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a message in Gmail",
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        464,
        304
      ],
      "id": "72e198e7-cbbe-4de8-940f-d1f100b0d6b7",
      "name": "Send a message in Gmail",
      "webhookId": "864f25d2-fe36-4164-bc2a-879e187752cf",
      "credentials": {
        "gmailOAuth2": {
          "id": "nyafGjyjVuOl7yDS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://prod-1-data.ke.pinecone.io/assistant/chat/drassistant",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Api-Key",
              "value": "pcsk_3nWrX1_4aQSYRsoBKgLppkKsNHoyNjoLqBASSjf9drtjCZHCH86pMqQvPC9hnk2Z1QDdyL"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Pinecone-API-Version",
              "value": "2025-04"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.chatInput }}\"\n    }\n  ],\n  \"stream\": false,\n  \"model\": \"gpt-4o\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        560,
        304
      ],
      "id": "462d48d5-a197-4480-b645-22a3f9d6bb29",
      "name": "rag"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "calender availability": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calender appointment": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send a message in Gmail": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "rag": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "81479e7b-5c96-466f-b697-5a405afb7881",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddf5a12650b4eae5e16ac493de453015a92f0b141f2b3fd43b8c640cf18fa182"
  },
  "id": "VYpNmiEw5ELvcE6Q",
  "tags": []
}