Automations/costumer_suport/costumer_suport.json
{
  "name": "My workflow 3",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "24f3829e-1944-4e07-a77b-10c9085647d6",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "nyafGjyjVuOl7yDS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Services",
              "description": "Talk about our services in the text of the email, like AI prompting, automations and programming. It might have questions, doubts or complains about our services or company"
            },
            {
              "category": "Other",
              "description": "Anything else"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        208,
        0
      ],
      "id": "f85a8a91-9e38-421d-a8e3-411ba2f429e2",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        192
      ],
      "id": "989c92d5-7347-4b46-8941-f01c4d02fae3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zaKuMVyDHpNHl3bi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} {{ $json.from.value[0].address }}",
        "options": {
          "systemMessage": "You will receive an email about our services, it might have questions, complains or doubts. Your job is to send an email back with a confirmation that we received their email and we are going to get in touch soon, using the \"email\" tool. You must save the adress of the email and its content in a sheet using your \"sheet\" tool.\n\n## Notes:\n- Always speaks in portuguese-br"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        544,
        -224
      ],
      "id": "b957a33f-e172-4202-b90f-f57893d2871d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        -80
      ],
      "id": "bf25ca22-b42b-4c45-9ef6-44532315b74b",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "zaKuMVyDHpNHl3bi",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        752,
        -80
      ],
      "id": "84d29103-f358-4cc4-a7a4-55ee97f29e40",
      "name": "Email",
      "webhookId": "615e3eda-803c-4e3c-af02-cb231acb3e92",
      "credentials": {
        "gmailOAuth2": {
          "id": "nyafGjyjVuOl7yDS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1KtxsauNGesvlNglHRLzjSIz4MjfOWSdMLYWmjKwN7JI",
          "mode": "list",
          "cachedResultName": "Teste 2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KtxsauNGesvlNglHRLzjSIz4MjfOWSdMLYWmjKwN7JI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KtxsauNGesvlNglHRLzjSIz4MjfOWSdMLYWmjKwN7JI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', ``, 'string') }}",
            "Texto": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Texto', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Texto",
              "displayName": "Texto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        672,
        16
      ],
      "id": "a66680e5-5d4f-47da-b38a-dd54c2d35e7f",
      "name": "Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "g4mauTntSf0XNBy6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0f281768-da87-4a2a-861d-7f9d71797d4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ddf5a12650b4eae5e16ac493de453015a92f0b141f2b3fd43b8c640cf18fa182"
  },
  "id": "rMwZp3RjCnUsvHRm",
  "tags": []
}